{% extends "admin_base.html" %}
{% block content %}
<!--<div><a href="{{url_for("admin.new_post")}}">New Post</a></div>-->
<table>
    <tr>
        <td>Title</td>
        <td>Category</td>
	<td>Publish Date</td>
    </tr>
    {% if posts.items is not none %}
        {% for post in posts.items %}
        <tr>
            <td>{{post.title}}</td>
            <td>{{post.category.name}}</td>
	    <td>{{post.post_date}}</td>
            <td><a href="{{url_for('admin.edit_post',post_id=post.id)}}">Edit</a></td>
            <td><a href="{{url_for('admin.delete_post',post_id=post.id)}}">Delete</a></td>
        </tr>
        {% endfor %}
    {% endif %}
</table>
<div class="pagination">
	{% for page in posts.iter_pages() %}
	{% if page %}
	{% if page != posts.page %}
	<a href='{{url_for("admin.all_posts",page = page)}}'>{{page}}</a>
	{% else %}
	<strong>{{page}}</strong>
	{% endif %}
	{% endif %}
	{% endfor %}
</div>

{% endblock %}
