<!DOCTYPE html>
<html>
<head>
    <title>Sporule CMS{% block sub_title %}{% endblock %}</title>
    {% block script %}
    <!--jquery-->
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- material js -->
    <script src="{{ url_for('static', filename='bower_components/materialize/dist/js/materialize.js') }}"></script>
    {% endblock %}
    {% block style %}
    <!-- icon css-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- material css-->
    <link rel="stylesheet" href="{{ url_for('static', filename ='bower_components/materialize/dist/css/materialize.css')}}" >
    <!-- custom css-->
    <link rel="stylesheet" href="{{ url_for('static', filename ='style.css')}}">
    {% endblock %}
</head>
<body>{% block sub_base %}{% endblock %}</body>
</html>