<!DOCTYPE html>
<html>
	<head>
		<title>Sporule Blog {% block sub_title %}{% endblock %}</title>
		<!--font awsome icon-->
		<script src="https://use.fontawesome.com/c26aec403d.js"></script>
		<!--jquery-->
		<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
		<!-- Syntax Highlighter -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
		<!--custom script-->
		<script src="{{url_for('static', filename='script.js')}}"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		{% block script %}
		{% endblock %}
		<!--Syntax Highlighter Css-->
		<link rel="stylesheet"
		      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
		<!--sdPure CSS-->
		<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
		<!--[if lte IE 8]>
			<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
		<![endif]-->
		<!--[if gt IE 8]><!-->
	  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
	  <!--<![endif]-->
	  <!-- Sans Mono Font-->
	  <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">
	  <!-- custom css-->
	  <link rel="stylesheet" href="{{ url_for('static', filename ='style.css')}}">
	  {% block style %}
	  {% endblock %}
	</head>
	<body>
		<div class='top-nav pure-menu pure-menu-horizontal'>
			<ul class='pure-menu-list'>
				<li class='pure-menu-item pure-menu-selected'><a href='{{url_for('front_end.home')}}'>Home Page</a></li>
				{%if current_user.is_authenticated %}{% if current_user.is_admin() %}<li class='pure-menu-item pure-menu-selected'><a href='{{url_for('admin.admin_home')}}'>Admin Page</a></li>{% endif %}{% endif %}
{%if current_user.is_authenticated %}{% if current_user.is_admin() %}<li class='pure-menu-item pure-menu-selected right'><a href='{{url_for('admin.new_post')}}'>New Post</a></li>{% endif %}{% endif %}
			</ul>
		</div>
		<div class='content'>
			<div class='pure-g'>
				<div class='pure-u-5-24 left-panel'>
					{% block left_panel %}{% endblock %}
				</div>
				<div class='pure-u-19-24 right-panel'>
					{% block right_panel %}{% endblock %}
				</div>
			</div>
		</div>
		<div class='footer'>
			<div class = 'pure-g'>
				<div class = 'pure-u-2-24 footer-user'>{% if current_user.is_authenticated %}{{current_user.name}}{% else %} USER{% endif %}</div>
				<div class = 'pure-u-10-24 footer-path'>{{ request.path[:30] }}</div>
				<div class = 'pure-u-3-24 footer-info'>python</div>
				<div class = 'pure-u-3-24 footer-info2'>utf-8[unix]</div>
				<div class = 'pure-u-6-24 footer-status'>{% block status %}<a href='http://www.Sporule.com'>Powered by Sporule</a>{% endblock%}</div>
			</div>
		</div>

	</body>
</html>
